html, body {
    height: 100%;
    margin: 0;
}

#header {
    background: #0F0F0F;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

#menu {
    background: #CAF1F8;
    text-align: center;
    padding: 1px 0px 0px 0px;
}

ol, ul, li {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent
}

.menu{background:#CAF1F8; list-style:none; border:1px solid #9AD2F1; display: inline-block;}
.menu li{position:relative; float:left; border-right:1px solid #9AD2F1; width: 150px;}
.menu li a{color:#333; text-decoration:none; padding: 5px 25px; display:block;}
.menu li a:hover{background:#1564C1; color:#fff; -moz-box-shadow:0 3px 10px 0 #8FE0FD; -webkit-box-shadow:0 3px 10px 0 #8FE0FD; text-shadow:0px 0px 5px #fff;}
.menu li ul{position:absolute; top:29px; left:0; background-color:#CAF1F8; display:none;}
.menu li:hover ul, .menu li.over ul{display:block;}
.menu li ul li{border:1px solid #9AD2F1; display:block; width:150px;}

body {
    font: 16px Sans-Serif;
    overflow: visible;
}

.content {
    padding: 0px;
    min-height: 100%;
    margin: 0 auto -50px;
}
.footer, .push {
    height: 50px;
}

footer {
    font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    background: #42A5F5;
    color: white;
    line-height: 50px;
    padding: 0 20px;
    text-align: center;
}

input.button {
    width: 100px;
    height: 30px;
}

input[type=text], input[type=email] {
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #EFF3F7;
    font-family: "Roboto Mono";
    font-size: 14px;
    padding: 8px 4px;
}

input[type=text]:focus, input[type=email]:focus {
    border-color: #1A232E;
}

div.sobre {
    padding: 20px 20px 20px 20px;
    text-align: left;
    width: 720px;
    background-color: #CAF1F8;
}

ul.sobre, li.sobre {
    margin: 40px;
    padding: 0px 0px 0px 5px;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent
}